<header class="site-header professional-header">
  <div class="container header-inner">
    <div class="branding">
       <div class="brand-text">
        <h1 class="logo">Manh Nguyen</h1>
        <p class="tagline">Game Developer - Cocos Creator</p>
      </div>
    </div>
    <nav class="nav">
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/main/projects/project.html">Projects</a></li>
        <li><a href="/main/projects/docs.html">Docs</a></li>
        <li><a href="/main/projects/study.html">Study</a></li>
        <li><a href="/main/projects/work.html">Work</a></li>
        <li><a href="/main/projects/profile.html">Profile</a></li> 
      </ul>
    </nav>
  </div>
</header>
